<!DOCTYPE html>
<html lang="{{ meta.language }}" class="spectrum spectrum--medium">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or meta.description }}">
  <meta name="author" content="{{ meta.author }}">
  <link rel="icon" href="https://www.adobe.com/favicon.ico">
  
  <title>{{ title }} | {{ meta.title }}</title>
  
  <!-- Spectrum CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | pathPrefix(basePath) }}">
  
  <!-- Spectrum Web Components -->
  <script type="module" src="https://unpkg.com/@spectrum-web-components/theme@^0.49.0/theme-light.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/theme@^0.49.0/scale-medium.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/theme@^0.49.0/theme-dark.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/button@^0.49.0/sp-button.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/action-button@^0.49.0/sp-action-button.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/search@^0.49.0/sp-search.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/tabs@^0.49.0/sp-tabs.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/tabs@^0.49.0/sp-tab.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/tabs@^0.49.0/sp-tab-panel.js"></script>
  <script type="module" src="https://unpkg.com/@spectrum-web-components/tooltip@^0.49.0/sp-tooltip.js"></script>
  
  <!-- Theme initialization -->
  <script>
    // Base path for GitHub Pages deployment
    window.BASE_PATH = {{ basePath | json }};
    const savedTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.classList.add(`spectrum--${savedTheme}`);
  </script>
</head>
<body>
  <sp-theme scale="medium" color="light" id="theme-container">
    {% include "components/header.njk" %}
    
    <main class="glossary-container">
      {{ content | safe }}
    </main>
    
    {% include "components/footer.njk" %}
  </sp-theme>
  
  <script src="{{ '/assets/js/theme.js' | pathPrefix(basePath) }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
